@import "background-colors.css";

body {
    background-color: var(--website-bg, bisque);
}

.about-me-container {
    display: flex;
    column-gap: 2rem;
    margin: 3rem 0 3rem 0;
}

.about-me-container > h2 {
    display: none;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-section {
    width: 60vw;
    background-color: blanchedalmond;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: 0.5rem solid rgb(222, 200, 166);
    border-radius: 5px;
}

.info-container h3, .links {
    justify-self: center;
}

@media (width < 1024px) {
    .about-me-container {
        flex-direction: column;
        align-items: center;
    }

    .about-me-container > h2 {
        display: block;
        text-align: center;
    }

    .about-me-container > picture {
        margin-bottom: 2rem;
    }
}

@media (width <= 425px) {
    .info-section {
        h3 {
            font-size: 1em;
        }

        p {
            font-size: 0.75em;
        }
    }
}