@import "background-colors.css";

#e-waste {
    background-color: var(--e-waste-bg, rgb(253, 235, 213));

    #mobile-back {
        background-color: var(--e-waste-bg, rgb(253, 235, 213));
    }
}

#dev-journal, #datasaur, #haunted-mansion {
    background-color: var(--other-bg, rgb(141, 141, 153));

    #mobile-back {
        background-color: var(--other-bg, rgb(141, 141, 153));
    }
}

#geoguru {
    background-color: var(--geoguru-bg, rgb(255, 210, 218));

    #mobile-back {
        background-color: var(--geoguru-bg, rgb(255, 210, 218));
    }
}

#spending-tracker {
    #mobile-back {
        background-color: white;
    }
}

h2 {
    text-align: center;
}

.thumbnail {
    width: 40vw;
    margin-top: 1.5rem;
    border: 2px solid black;
    box-shadow: 10px 10px;
}

.project-info {
    display: flex;
    column-gap: 4rem;
    margin: 0 1rem 0 1rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.social-media-links {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

@media (width <= 768px) {
    .project-info {
        flex-direction: column;
        align-items: center;
    }
}